# Node modules
node_modules/

# out directory
out/

# Logs
logs/
*.log
npm-debug.log*

# Build output
/dist
/build

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# config env files
config.local.ts
config.local.js