.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.claude/**
.trunk/**
.secretlintignore
docs/**
plan.md
workflow.md
task.txt
CLAUDE.md
division4.png
